In [65]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
b_1 = pd.read_csv('Building_1.csv')
b_2 = pd.read_csv('Building_2.csv')
b_3 = pd.read_csv('Building_3.csv')
b_4 = pd.read_csv('Building_4.csv')
b_5 = pd.read_csv('Building_5.csv')
b_6 = pd.read_csv('Building_6.csv')
b_7 = pd.read_csv('Building_7.csv')
b_8 = pd.read_csv('Building_8.csv')
b_9 = pd.read_csv('Building_9.csv')
b_1_l = pd.read_csv('Building_1_local.csv')
b_2_l = pd.read_csv('Building_2_local.csv')
b_3_l = pd.read_csv('Building_3_local.csv')

solar = pd.read_csv('solar_generation_1kW_S.csv')

In [67]:
b_1['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_2['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_3['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_4['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_5['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_6['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_7['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_8['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']
b_9['Solar Generation (W/kW)']= solar['Hourly Data: AC inverter power (W)']

In [68]:
b_1_l = b_1_l.drop(columns=['Occupant Count (people)','Temperature Set Point (C)','HVAC Mode (Off/Cooling/Heating)'])
b_2_l = b_2_l.drop(columns=['Occupant Count (people)','Temperature Set Point (C)','HVAC Mode (Off/Cooling/Heating)'])
b_3_l = b_3_l.drop(columns=['Occupant Count (people)','Temperature Set Point (C)','HVAC Mode (Off/Cooling/Heating)'])

df_list = [b_1,b_2,b_3,b_4,b_5,b_6,b_7,b_8,b_9,b_1_l,b_2_l,b_3_l]

In [69]:
b_3_l

,Month,Hour,Day Type,Daylight Savings Status,Indoor Temperature (C),Average Unmet Cooling Setpoint Difference (C),Indoor Relative Humidity (%),Equipment Electric Power (kWh),DHW Heating (kWh),Cooling Load (kWh),Heating Load (kWh),Solar Generation (W/kW)
0,6,1,5,0,24.431563,-1.288156e-02,57.864119,0.422080,0.000000,0.557905,0.0,0.000000
1,6,2,5,0,24.444383,-6.162604e-05,58.086218,0.419002,0.000000,0.221397,0.0,0.000000
2,6,3,5,0,24.444445,9.792859e-07,58.383119,0.416603,0.000000,0.119271,0.0,0.000000
3,6,4,5,0,24.444440,-4.807433e-06,59.098372,0.418830,0.000000,0.060403,0.0,0.000000
4,6,5,5,0,24.361916,-8.252885e-02,60.374480,0.435160,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
715,6,20,6,0,24.444446,1.183235e-06,55.401951,0.981112,0.000000,3.581775,0.0,2.211529
716,6,21,6,0,24.444450,5.135687e-06,55.363643,1.070560,0.000000,2.959194,0.0,0.000000
717,6,22,6,0,24.444450,5.953268e-06,55.452954,0.816532,0.204833,2.480101,0.0,0.000000
718,6,23,6,0,24.444451,6.499410e-06,55.501358,0.709541,1.768555,3.568882,0.0,0.000000
719,6,24,6,0,24.444441,-3.851904e-06,55.706667,0.526549,0.000000,1.902680,0.0,0.000000

In [70]:
# Adress the differences in the dfs

for df in df_list:
    df.columns = df.columns.str.replace("\\[", "(", regex=True)
    df.columns = df.columns.str.replace("\\]", ")", regex=True)

In [71]:
b_1['Heating Load (kWh)'] = 0
b_2['Heating Load (kWh)'] = 0
b_3['Heating Load (kWh)'] = 0
b_4['Heating Load (kWh)'] = 0
b_5['Heating Load (kWh)'] = 0
b_6['Heating Load (kWh)'] = 0
b_7['Heating Load (kWh)'] = 0
b_8['Heating Load (kWh)'] = 0
b_9['Heating Load (kWh)'] = 0

In [72]:
b_1['HVAC Mode (Off/Cooling/Heating)'] = 1
b_2['HVAC Mode (Off/Cooling/Heating)'] = 1
b_3['HVAC Mode (Off/Cooling/Heating)'] = 1
b_4['HVAC Mode (Off/Cooling/Heating)'] = 1
b_5['HVAC Mode (Off/Cooling/Heating)'] = 1
b_6['HVAC Mode (Off/Cooling/Heating)'] = 1
b_7['HVAC Mode (Off/Cooling/Heating)'] = 1
b_8['HVAC Mode (Off/Cooling/Heating)'] = 1
b_9['HVAC Mode (Off/Cooling/Heating)'] = 1

In [73]:
b_1['Temperature Set Point (C)'] = 24.444444
b_2['Temperature Set Point (C)'] = 24.444444
b_3['Temperature Set Point (C)'] = 24.444444
b_4['Temperature Set Point (C)'] = 24.444444
b_5['Temperature Set Point (C)'] = 24.444444
b_6['Temperature Set Point (C)'] = 24.444444
b_7['Temperature Set Point (C)'] = 24.444444
b_8['Temperature Set Point (C)'] = 24.444444
b_9['Temperature Set Point (C)'] = 24.444444

In [74]:
b_1['Occupant Count (people)'] = 2
b_2['Occupant Count (people)'] = 3
b_3['Occupant Count (people)'] = 2
b_4['Occupant Count (people)'] = 2
b_5['Occupant Count (people)'] = 2
b_6['Occupant Count (people)'] = 3
b_7['Occupant Count (people)'] = 2
b_8['Occupant Count (people)'] = 2
b_9['Occupant Count (people)'] = 3

In [75]:
b_1.to_csv('Building_1_S.csv')
b_2.to_csv('Building_2_S.csv')
b_3.to_csv('Building_3_S.csv')
b_4.to_csv('Building_4_S.csv')
b_5.to_csv('Building_5_S.csv')
b_6.to_csv('Building_6_S.csv')
b_7.to_csv('Building_7_S.csv')
b_8.to_csv('Building_8_S.csv')
b_9.to_csv('Building_9_S.csv')
b_1_l.to_csv('Building_10_S.csv')
b_2_l.to_csv('Building_11_S.csv')
b_3_l.to_csv('Building_12_S.csv')

In [ ]:
# Concatenate the 12 dataframes into a single dataframe
combined_df = pd.concat(df_list, ignore_index=True)

# Select numerical features for scaling
numerical_features = ['Indoor Temperature (C)', 'Average Unmet Cooling Setpoint Difference (C)',
                      'Indoor Relative Humidity (%)', 'Equipment Electric Power (kWh)',
                      'DHW Heating (kWh)', 'Cooling Load (kWh)', 'Solar Generation (W/kW)']

# Scale the features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(combined_df[numerical_features])

# Calculate cosine similarity between buildings
cosine_similarities = cosine_similarity(scaled_features)

# Print similarity scores
num_buildings = len(building_dataframes)
for i in range(num_buildings):
    print(f"Similarity scores for Building {i + 1}:")
    for j in range(num_buildings):
        if i != j:
            print(f"  Building {j + 1}: {cosine_similarities[i][j]}")
    print("-" * 40)

In [ ]:
b_1.to_csv('Building_1_S.csv')
b_2.to_csv('Building_2_S.csv')
b_3.to_csv('Building_3_S.csv')
b_4.to_csv('Building_4_S.csv')
b_5.to_csv('Building_5_S.csv')
b_6.to_csv('Building_6_S.csv')
b_7.to_csv('Building_7_S.csv')
b_8.to_csv('Building_8_S.csv')
b_9.to_csv('Building_9_S.csv')

In [ ]:
b_1_l

In [16]:
# Generate the pricing
import numpy as np

pricing_df = pd.read_csv('pricing.csv')


#define new DataFrame as original DataFrame with each row repeated 3 times
df_new = pd.DataFrame(np.repeat(pricing_df.values, 49, axis=0))

#assign column names of original DataFrame to new DataFrame
df_new.columns = pricing_df.columns

#view new DataFrame
df_new.to_csv('pricing_S.csv')